<!-- 利用HTML展示结果 -->
<!DOCTYPE html>
<html>
<head>
	<title>学生表</title>
	<meta charset="utf-8">
</head>
<body>
	<table border="1" cellspacing="0">
		<tr>
			<th>学生ID</th>
			<th>姓名</th>
			<th>性别</th>
			<th>班级</th>
			<th>年龄</th>
			<th>家乡</th>
			<th>分数</th>
			<th>操作</th>
		</tr>
		{foreach from=$stu_list item='student'}
		<tr>
			<td>{$student.id}</td>
			<td>{$student.name}</td>
			<td>{$student.gender}</td>
			<td>{$student.class_id}</td>
			<td>{$student.age}</td>
			<td>{$student.home}</td>
			<td>{$student.score}</td>
			<td><a href="index.php?p=Test&c=Stu&a=remove&id={$student.id}">删除</a></td>
		</tr>
		{/foreach}
	</table>
	<p><a href="index.php?p=Test&c=Tea&a=list">查看教师列表</a></p>
</body>
</html>